.hero{
    background-image: url(/asste/img/wordel.jpg); 
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
.hero h2{
  color: white;
  font-size: 40px;
}
header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 60px 150px;
    width: 100%;
    height: 10vh;
 
 }
 header nav a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal; 
   
}
header nav ul{
    display: flex;
    list-style: none;
    margin: 0;
}
header nav ul li a{
    text-decoration: none;
    padding: 20px;
}
header nav a img{
    width: 100px;
}
footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 170px 50px 170px;
}
footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer a{
    text-decoration: none;
    color: black;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .form button {
    align-self: flex-end;
  }
  
  .flex-column > label {
    color: #151717;
    font-weight: 600;
  }
  
  .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
  }
  
  .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
  .button-submit:hover {
    background-color: #252727;
  }
  
  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btn:hover {
    border: 1px solid #2d79f3;
    ;
  }
  .inloggen{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info{
   width: 100%;
   margin-top: 4rem;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   height: 40vh;
  }
  .spelinfo{
    width: 50%;
  }
  .spelinfo p{
    width: 70%;
  }
  .spelen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }
  .hero_spelen{
    background-image: url(/asste/img/wordel.jpg); 
    width: 100%;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
  }
  .hero_spelen h2{
    color: white;
  }
  
      